    // Estas variables son globales/
    
    //variables del header

    $primary-color: #3498db;
    $secondary-color: #2ecc71;
    $font-stack: 'Arial, sans-serif';
    
    // variable grid

    

    // varables de footer 
    $footer-background-color: #333;
    $footer-text-color: #fff;
    $footer-padding: 20px;
    $footer-column-width: 30%;

    
    
    
    
    
