    // Estas variables son globales/
    
    //variables del header

    $primary-color: #3498db;
    $secondary-color: #2ecc71;
    $font-stack: 'Arial, sans-serif';
    
    // variable grid

    $grid-display: flex;
    $grid-flex-wrap: wrap;
    $grid-justify-content: space-between;


    // varables de footer 
    $footer-background-color: #333;
    $footer-text-color: #fff;
    $footer-padding: 20px;
    $footer-column-width: 30%;

    
    
    
    
    
