// llamada a variables
@use '../utils/variables' as *;

.footer{
        display: $footer-display;
        justify-content: $footer-justify-content;
        flex-wrap: $footer-flex-wrap;
        padding: $footer-padding;
         
  &__contenido{
        display: $footer-display;
        justify-content: $footer-justify-content; /* Espacia las secciones del footer */
        flex-wrap: $footer-flex-wrap; /* Permite que las secciones se ajusten en pantallas pequeñas */
        padding: $footer-padding;
        }
}

