// llamada a variables
@use '../utils/variables' as *;

.footer{
    background-color: $footer-background-color;
    color: $footer-text-color;
    padding: $footer-padding;
    display: flex;
    justify-content: space-between;
    

    &__column {
        width: $footer-column-width;
    }

    &__title {
        font-size: 1.5em;
        margin-bottom: 10px;
      }
    
    &__text {
        font-size: 1em;
        margin-bottom: 10px;
      }
    
    &__list {
        list-style: none;
        padding: 0;
      }

    &__item {
          margin-bottom: 5px;
        }
    
    &__link {
        color: $footer-text-color;
        text-decoration: none;
    }
         
    &__link a{

        color:$footer-text-color;
    }
    &:hover {
            text-decoration: underline;
          } 
   @media (max-width: 768px) {
    .section__column {
      flex: 1 1 calc(50% - 20px);
           }
          }
          
          @media (max-width: 480px) {
            .section__column {
              flex: 1 1 100%;
            }
        }
}

