.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__column {
    border: 1px solid blue;
    padding: 10px;
    flex: 1 1 calc(25% - 20px);
    margin: 10px;
    text-align: center;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  .section__column {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .section__column {
    flex: 1 1 100%;
  }
}


