@use '../utils/variables'  as *;


.header {
    background-color: white;
    color: $primary-color;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__column {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &--logo {
            justify-content: flex-start;
        }

        &--nav {
            justify-content: center;
        }

        &--button {
            justify-content: flex-end;
        }
    }

    &__logo-image {
        max-width: 100px;
    }

    &__nav {
        &-list {
            list-style: none;
            padding: 0;
            display: flex;
            gap: 20px;
        }

        &-item {
            &-link {
                color: $primary-color;
                text-decoration: none;
                font-weight: bold;
                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }

    &__button {
        background-color: $secondary-color;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        &:hover {
            background-color:black ($secondary-color, 10%);
        }
    }
}
.banner {
    &__image {
        width: 100%;
        // height: 100vh;
        object-fit: cover;
    }

    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 3rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
}

.bannerinfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    background-color: #f0f0f0;
    box-sizing: border-box;
    gap: 20px;
    flex: 1;
}

.bannerinfo h2 {
     font-style: italic;
     font-size: xx-large;
     text-align: center;
     color: red;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.bannerinfo p{
    font-family: 'Arial', sans-serif; 
    font-size: 16px; 
    line-height: 1.5;
    color: #333; 
    margin: 20px 0; 
    padding: 10px; 
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 5px;     
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}