@use '../utils/variables'  as *;

.header{
    background-color: $header-primary-color;
    font-family:$header-font-stack ;
    color: white;
    padding: 20px;
    @use flex-center;
    justify-content: space-between;

    &__logo
    logo{
        width: 100%;  
        justify-content: space-between; 
        padding: 10px;   
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        font-size: 1.5em;
        margin-top: 5px;
    }

    &__nav{
        display: flex;
    }   
  
    &__opciones{
        padding: 1em;
        font-size: 20px;
        text-align: center; 
    }

    &__opciones--a{
        text-decoration: none;
        font-weight: bold;
        margin: 0 15px;
        color:black;
    }

}