/* Error: The default namespace "footer;" is not a valid Sass identifier.
 * 
 * Recommendation: add an "as" clause to define an explicit namespace.
 *    ,
 * 6  | / @use '.../scss/layout/footer;'
 * 7  | | 
 * 8  | | 
 * 9  | | 
 * 10 | | 
 * 11 | | 
 * 12 | \ 
 *    '
 *   scss\main.scss 6:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: The default namespace \"footer;\" is not a valid Sass identifier.\a\aRecommendation: add an \"as\" clause to define an explicit namespace.\a    \2577 \a 6  \2502  \250c  @use '.../scss/layout/footer;'\a 7  \2502  \2502  \a 8  \2502  \2502  \a 9  \2502  \2502  \a 10 \2502  \2502  \a 11 \2502  \2502  \a 12 \2502  \2514  \a    \2575 \a   scss\\main.scss 6:1  root stylesheet";
}
